body {
    margin: 0;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background-image: url(../imagem/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content {
    margin: 120px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 5px 5px 6px black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p{
    background-color: rgba(0,0,0, .6);
    display: inline-block;
    font-size: 16px;
    padding: 16px;
    border-bottom: 2px solid;
}

.menu ul {
    margin: 20px 80px 0 0;
    text-align: right;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 16px;
}

.menu a{
    background-color: rgba(0,0,0, .3);
    padding: 16px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.menu a:hover {
    background-color: rgba(0,0,0, .5);
}

main {
    width: 80%;
    margin: auto;
    max-width: 860px;
}

section {
    padding-top: 30px;
}

article {
    background-color: white;
    padding: 16px;
    margin-bottom: 30px;
}

article h2 {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
}

a {
    background-color: #bbb;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
    width: fit-content;
}

article a:visited {
    color: black;
}

.rodape {
    color: white;
    text-shadow: 2px 3px 3px black;
    text-align: center;
    background-color: #6b6c68;
    padding: 30px;
    letter-spacing: 2px;
}